
.Galeria {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 30px; 
    padding: 30px; 
    background-color: aquamarine; 
}


.Menu {
    background-color: aqua;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    font-family: 'Times New Roman', Times, serif;
}
.Menu a:hover {
    color: rgb(98, 255, 0);
}


.tarjeta {
    transition: 0.3s; 
    background-color: white; 
    padding-bottom: 10px;
    border-radius: 10px;
    text-align: center;
}


.tarjeta:hover {
    transform: scale(1.05); 
}


.tarjeta img {
    width: 100%; 
    height: 200px; 
    max-width: 100%; 
    object-fit: cover; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
}


.Formulario {
    width: 400px; 
    margin: auto; 
    display: flex; 
    flex-direction: column; 
    gap: 15px;  
    background-color: white; 
    padding: 30px; 
    border-radius: 15px; 
    box-shadow: 0 0 15px gray; 
    font-family: 'Times New Roman', Times, serif;
}


.Formulario input {
    padding: 12px;  
    border-radius: 10px; 
    border: 1px solid rgb(224, 19, 19); 
    font-size: 16px; 
    font-family: 'Times New Roman', Times, serif;
}


.Formulario button {
    background-color: rgb(21, 239, 21); 
    color: white; 
    padding: 12px; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
    transition: 0.3s; 
    font-family: 'Times New Roman', Times, serif;
}


.Formulario button:hover {
    background-color: rgb(12, 139, 12); 
}

@media (max-width: 768px) {

    .Menu ul {
        flex-direction: column; 
        align-items: center;
    }
    
    .Galeria {
        flex-direction: column;
        align-items: center; 
        padding: 15px; 
    }

    .tarjeta { 
        width: 90%; 
    }

    .Formulario {
        width: 80%; 
    }
}


